.hh {
    color: white;
    background-color: rgb(59, 156, 59);
    text-align: center;
}

.karobka {
    background-color: green;
    height: 50px;
    text-align: center;
}


.sp {

    background-color: rgb(59, 156, 59);
    color: white;
}